external_components:
  - source: github://Kustonium/esphome-wmbus-bridge@main
    components: [wmbus_common, wmbus_radio]
    refresh: 0d

wmbus_radio:
  on_frame:
    then:
      - if:
          condition:
            lambda: |-
              // odfiltruj krótkie śmieci (8B itp.)
              return frame->as_hex().size() >= 30;
          then:
            - mqtt.publish:
                topic: "wmbus_bridge/telegram"
                payload: !lambda |-
                  return frame->as_hex();
