external_components:
  - source: github://Kustonium/esphome-wmbus-bridge@main
    components: [wmbus_common, wmbus_radio]
    refresh: 0d

wmbus_radio:
  on_frame:
    then:
      - if:
          condition:
            lambda: |-
              // drop short junk (30 hex chars == 15 bytes)
              return frame->size() >= 15;
          then:
            - mqtt.publish:
                topic: "wmbus_bridge/telegram"
                payload: !lambda |-
                  return frame->as_hex();
